<%= form_with model: [ @article, @article.comments.build ] do |form| %>
<div class="card w-25">
  <div class="card-body">
    <div class="mb-3">
      <%= form.label :commenter, { class: "form-label"} %><br>
      <%= form.text_field :commenter, { class: "form-control", placeholder: "Title" } %>
    </div>
    <div class="mb-3">
      <%= form.label :body, { class: "form-label"} %><br>
      <%= form.text_area :body, { class: "form-control", placeholder: "Title" } %>
    </div>
    <div class="mb-3">
      <%= form.label :status, { class: "form-label"} %><br>
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>
    <div class="mb-3">
      <%= form.submit t('global.forms.submit'), class: "btn btn-primary"  %>
    </div>
  </div>
</div>
<% end %>
